<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/client/styles/style.css" media="screen"/>
    <link>
    <title>MyStocks</title>
</head>
<body>

    <h3>Search for Stock Ticker</h3>

    <div>
        <form id="user-input" method="POST" action="/">
            <input type="text" placeholder="Enter Stock" name="stock_id">
            <button>Submit</button>
        </form>
    </div>
    <h3>Stock Information</h3>
    <p>
        <%= data.name %></br>
        <%= data.country %></br>
        <%= data.ipo %></br>
        
        
    
    </p>
    
    
    <script src="/client/js/script.js"></script> 
</body>
</html>