*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}  

body {
    padding-top: 10px;
    margin-left: 5px;
    padding: 0.5em;
    margin-top: 0;
    color: rgb(61, 62, 75);
}

footer {
    background-color: #F9F9FA;
    text-align: center;
}

a {
    background-color: none;
    text-decoration: none;
    color: rgb(61, 62, 75);
}


/**** Buttons and Input ****/

/* input form for entering stock data */
.form-control {
    width: 200px;
    height: 24px;
    font-size: 20px;
}

input:hover {
    border: solid 1px;
    border-color: #39A6FF;
}

.btn {
    background-color: rgb(210, 224,246);
    color: black;
    border-color: white;
}

.btn:hover {
    background-color: rgb(39, 118, 189);
}

.hide {
    visibility: hidden;
}

/* chart.js */
canvas {
    border-radius: 5px;
    border-style: solid black;
}
