*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}  

body {
    padding-top: 10px;
    margin-left: 5px;
    padding: 0.5em;
    margin-top: 0;
    color: rgb(61, 62, 75);
}

.header {
    background-color: #F9F9FA;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-top: -10px;
}

/**** Buttons and Input ****/
.form-control {
    width: 200px;
    height: 24px;
    font-size: 20px;
}

input:hover {
    border: solid 1px;
    border-color: #39A6FF;
}

canvas{
    border-radius: 5px;
    border-style: solid black;
}

.btn {
    background-color: rgb(210, 224,246);
    color: black;
    border-color: white;
}

.btn:hover {
    background-color: rgb(39, 118, 189);
}

.form-control {

}


/* Data for the chart is hidden */
.chartData {
    
    color: red;
}