body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    /* padding-bottom: 100px; */
    box-sizing: border-box;
}
  
footer {
    position: absolute;
    bottom: 0;
    /* height: 90px; */
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
}

/* Remove border of navbar-toggler */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

/* News section */
a {
    background-color: none;
    text-decoration: none !important;
    color: rgb(61, 62, 75);
}

.news-article {
    max-width: 95%;
}

.news {
    display: flex;
    padding: 5px;
    flex-direction: row;
    margin-bottom: 10px;
    border-bottom: solid 1px #B1ABB4;
}

.news-content {
    padding-left: 10px;
}

img {
    min-width: 20rem;
    max-width: 20rem;
    height: 15rem;
    border-radius: 10px;  
    object-fit: cover;
}
/* End of news section */

/**** Buttons and Input ****/

/* Input form for entering stock data */
.form-control {
    width: 200px;
    height: 31px;
    font-size: 15px;    
}

.hide {
    visibility: hidden;
}

/* chart.js */
canvas {
    border-radius: 5px;
    border-style: solid black;  
}

/**** Media-Queries ****/

/* For news.ejs view */
@media(max-width: 767px) {
    .news {
        flex-direction: column;
    }
    img {      
        min-width: 100%;
        width: 40%; /* for height see blog */
        
        object-fit: cover; /* crops the image */
    }
}


